@use 'sass/base';
@use 'sass/attribution';

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    min-width: 375px;
    background: url(images/bg-header-mobile.png) no-repeat top/contain;
}

.flex {
    display: flex;
}

h1, h2, h3 {
    color: base.$dark-grayish-blue;
};

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    color: base.$grayish-blue;
    font-size: 16px;
    line-height: 1.75rem;
    margin-top: 1rem;
};

h3 {
    margin-top: 2rem;
}

.logo-big {
    margin: 7rem 0 4rem;
}

.image-computer {
    width: 100%;
    margin-top: 3.5rem;
}

.image-devices {
    width: 100%;
    margin-top: 4rem;
}

.icons-article {
    margin-top: 4.5rem;
}

.logo-references {
    display: block;
    margin: 4rem auto;
}

header {
    padding: 0 2.5rem;
}

article {
    padding: 0 2.5rem;
    margin: 8rem auto;
    max-width: 800px;
}

footer {
    background: base.$footer-background;
    padding: 3rem;
    flex-direction: column;
    
    .logo-small {
        width: 50px;
        margin: 1rem auto;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: base.$dark-grayish-blue;
        display: block;
        margin-top: 1.5rem;
    }

    .social-media-icons a {
        font-size: 20px;
        display: inline-block;
        margin: 3rem 1.5rem 1rem 1.5rem;
    }

    a:hover {
        color: base.$strong-cyan;
    }
}


/* Buttons */
.green, .blue {
    padding: 1rem 5rem;
    display: inline-block;
    margin: 1rem 0.5rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    color: #fff;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}

.green {
    background-color: base.$strong-cyan;
    box-shadow: 0px 4px 0px base.$strong-cyan-3d,
    0px 10px 20px base.$strong-cyan-shadow;
}

.blue {
    background-color: base.$light-blue;
    box-shadow: 0px 4px 0px base.$light-blue-3d,
    0px 10px 20px base.$light-blue-shadow;
}

.green:hover {
    background-color: base.$strong-cyan-hover;
}

.blue:hover {
    background-color: base.$light-blue-hover;
}